.name {
    display: flex;
    text-align: center;
    align-items: center;
    padding: 10px;
    background-color: #f8f9fa;
  }
  
  .name-image {
    width: 200px;
    height: 150px;
    border-radius: 50%;
    margin-right: 15px;
  }
  
  .name h1 {
    font-size: 1.5em;
    margin: 0;
  }
  