body {
    width: 100%;
    margin: 0 0;
    padding: 0;
    background-image: url('../../assets/18236496_rm373batch9-036.jpg'); 
    background-size:cover;
    background-position: center; 
    background-repeat: repeat;
    background-attachment: fixed;
    
  }

  