.card {
    position: relative;
    width: 400px;
    margin: 20px;
    border-radius: 15px;
    z-index: 0;
    transition: transform 0.3s ease-in-out;
    height: 60vh;  }
  
  .card-inner {
    position: relative;
    background-color: #151320;
    border-radius: 15px;
    overflow: hidden;
    padding: 20px;
    z-index: 1;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  /* .card:hover {
    transform: scale(1.02);
  } */
  
  /* Borde neón animado */
  .card::before,
  .card::after {
    content: '';
    position: absolute;
    top: -4px;
    left: -4px;
    right: -4px;
    bottom: -4px;
    border-radius: 15px;
    background: linear-gradient(45deg,
      #ffff00, #00ff00, #0099ff, #001aff, #a200ff, #ff0055, #ff0000,
      #ff0055, #ff0000, #ffff00, #00ff00, #0099ff, #001aff, #a200ff
    );
    background-size: 400%;
    z-index: -1;
    transition: opacity 0.5s ease-in-out;
  }
  
  .card::after {
    filter: blur(15px);
    z-index: -2;
  }
  
  .card:hover::before {
    opacity: 1;
    animation: borderGlow 12s linear infinite;
  }
  
  @keyframes borderGlow {
    0%, 100% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
  }
  
  .card-image {
    background-color: #fff;
    position: relative;
    width: 100%;
    height: 150px;
    border-bottom-left-radius: 50% 20px;
    border-bottom-right-radius: 50% 20px;
    overflow: hidden;
    
  }
  
  .card-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-bottom-left-radius: 60% 35px;
    border-bottom-right-radius: 60% 35px;
  }
  
  .card-content {
    padding: 20px;
    box-shadow: 0 4px 8px rgba(255, 255, 255, 0.3);
  }
  
  .card-content h4 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #fff;
  }
  
  .card-content h6 {
    margin-bottom: 10px;
    font-size: 1.2em;
    color: #ccc;
    
  }
  
  .card-content p {
    color: #ccc;
    font-size: 1em;
    line-height: 1.5;
  }


.project-links {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 20px;
}

.project-image {
  width: 110px;
  height: 150px;
  object-fit: cover;
  border: rgb(255, 255, 255) 1px outset;
  border-radius: 10px;
  transition: transform 0.3s ease-in-out;
}

.project-image:hover {
  transform: scale(1.05);
  border:rgb(255, 0, 0) 1px outset;
}
  /* Media query para dispositivos móviles */
  @media (max-width: 768px) {
    .card {
      width: 90%; 
      margin: 10px auto; 
      font-size: 11px;
    }
    .project-image{
      width: 80px;
      height: 80px;
      
    }
  }
